@import './variables';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background-color: $color1;
  color: $white;
  font-family: $font1;
  line-height: 180%;
  font-weight: 300;
  overflow: hidden;
}

h1 { font-size: 3.5em }

h2 { font-size: 3em; }

h3 { font-size: 1.5em; }

p { font-size: 18px; }

i { font-size: 16px }

.overlay {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 0%;
  bottom: 0;
  background: $color2;
}

.link-group {
  display: flex;
}

.link {
  font-weight: bold;
  color: $lightgray;
  position: relative;
  z-index: 1;
  transition: $animate1;
  &::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $color2;
    transition: $animate1;
  }
  &.active {
    color: $color2;
    cursor: pointer;
    &::after {
      width: 0%;
    }
  }
}

.link-group__text {
  padding: 0 1em;
  margin: 0;
}