@import './variables';

.swiper {
    position: relative;
    width: 105%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    transform: scale(0.98);
    scroll-behavior: smooth;
    will-change: transform;
    user-select: none;
    cursor: grab;
    display: flex;
    align-items: center;
    transition: $animate1;
    &.active {
        transform: scale(1);
        cursor: grabbing;
    }
    &::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); ; }
    &::-webkit-scrollbar { width: 6px;  background-color: rgba(255,255,255,0.3); border: 6px solid $color1; }
    &::-webkit-scrollbar-thumb {background-color: $color2; border: 6px solid $color1;  }
    @media all and (max-width: $mobile) {
        flex-direction: column;
        cursor: default;
        padding-top: 150px;
        width: 100vw;
        height: auto;
    }
}

.swiper__item:first-child {
    z-index: 10;
    display: inline-block;
    min-width: 550px;
    padding: 0 6em 0 2em;
    color: $lightgray;
    .swiper__face {
        border-radius: 50%;
        width: 100px;
        height: auto;
        margin-left: 1.5em;
        margin-top: -3em;
    }
    .swiper__heading {
        display: flex;
        align-items: center;
        padding-bottom: .5em;
    }
    .swiper__title {
        font-weight: bold;
        font-family: $font2;
        padding-right: .5em;
        margin: 0;
    }
    .swiper__subTitle {
        font-weight: 100;
        margin: 0;
    }
    .link-group {
        padding-top: .5em;
    }
    &:hover {
        transform: scale(1);
        margin: 0 1em;
    }
    @media all and (max-width: $mobile) {
        margin-top: -3em;
        width: 100vw;
        height: 60vh;
        padding: 0 3em;
    }
}

.swiper__item:nth-child(2) .swiper__holder { &:before { 
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
 }}
.swiper__item:nth-child(3) .swiper__holder { &:before { 
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
 }}
.swiper__item:nth-child(4) .swiper__holder { &:before { 
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}}
.swiper__item:nth-child(5) .swiper__holder { &:before { 
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}}
.swiper__item:nth-child(6) .swiper__holder { &:before { 
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}}

.swiper__item {
    display: flex;
    margin: 0 1em;
    align-items: center;
    position: relative;
    transition: $animate1; 
    img {
        max-height: 450px;
        opacity: .45;
        filter: grayscale(1);
        transition: $animate1;
        position: relative;
        @media all and (max-width: $mobile) {
            width: 100vw;
        }
    }
    .swiper__item--title {
        z-index: 2;
        font-weight: bold;
        margin: 0;
        position: absolute;
        right: 0;
        transform: translateX(40%);
        opacity: 0;
        max-width: 300px;
        line-height: 130%;
        transition: $animate1;
        color: $white;
        text-shadow: 2px 3px 5px rgba(0,0,0,0.1);
        .swiper__title-icon {
            font-size: 50%;
            transition: $animate1;
        }
        &:before {
            position: absolute;
            content: '';
            width: 40px;
            height: 1px;
            left: -55px;
            top: 35px;
            background: $color1;
        }
        &:hover {
            cursor: pointer;
            .swiper__title-icon {
                transform: translateX(80px);
            }
        }
        @media all and (max-width: $mobile) {
            opacity: 1;
            text-align: center;
            left: 1em;
            bottom: 1em;
            transform: none;
            &:before {
                content: none;
            }
        }
    }
    .swiper__holder {
        position: absolute;
        width: 100%;
        height: 100%;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0%;;
            height: 100%;
            transition: $animate2;
        }
    }
    &.active {
        z-index: 2;
        background: rgba(255,255,255,0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }
    &:hover {
        z-index: 2;
        transform: scale(1.1);
        margin: 0 3em;
        img {
            filter: grayscale(0);
            opacity: .5;
        }
        .swiper__item--title {
            z-index: 2;
            transform: translateX(60%);
            opacity: 1;
            @media all and (max-width: $mobile) {
                transform: none;
            }
        }
        .swiper__holder {
            &:before {
                width: 100%;
            }
        }
    }
}