@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap');

$color1: #171219;
$color2: #1e847f;
$white: #fefefe;
$lightgray: #77878B;

$font1: 'Roboto', sans-serif;
$font2: 'Mrs Saint Delafield', cursive;

$animate1: 250ms all ease-in-out;
$animate2: 350ms all ease;
$mobile: '900px';